.header {
    /* margin-bottom: 20px; */
    background: linear-gradient(to right, #2d2d31, #010007);

  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .navbar-nav .nav-link {
    margin-right: 20px;
  }
  
  .btn-outline-danger {
    margin-left: auto;
  }
  