.car-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust height as needed */
  }
  p{
    font-size: large;
  }
  .car-image {
    width: 400px; /* Adjust width as needed */
    height: auto;
    object-fit: contain;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  